<div class="container">
 <h1><%= @recipe.recipe_name %></h1>
 <a href="/">HOME</a>

<div class="container-fluid">

<ul>
   <li><%= @recipe.instructions %></a></li>
</ul>

<form action="/recipes/<%= @recipe.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
    <div class="form-group">
      <label>Add Instructions:</label>
      <textarea class="form-control" rows="5" id="instructions" name="instructions" placeholder="Recipe Instructions"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<h3>Ingredients:</h3>

<ul>
  <% @recipe.ingredients.each do |ingredient| %>
   <li><%= ingredient.ingredient_name %></li>
  <% end %>
</ul>

<div class="container-fluid">
  <form class="form-inline" action="/recipes/<%= @recipe.id %>/ingredients" method="post">
    <div class="form-group">
      <label>Add an Ingredient:</label>
      <input type="text" class="form-control" id="ingredient_name" name="ingredient_name" placeholder="ex: cheese">
    </div>
    <button type="submit" class="btn btn-default">Add</button>
  </form>
</div>

<br>

  <form action="/recipes/<%= @recipe.id %>/tags" method="post" form class="form-inline">
    <input name="_method" type="hidden" value="patch">
    <select id="tag_id" name="tag_id" class="form-control">
      <ul>
        <% @tags.each do |tag| %>
         <li><option value="<%= tag.id %>"><%= tag.category %></option></li>
        <% end %>
      </ul>
    </select>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<h3>Tagged Under:</h3>
<ul>
  <% @recipe.tags.each do |tag| %>
   <li><a href="/tags/<%= tag.id %>"><%= tag.category %></a></li>
   <% end %>
</ul>

</div>

<form class="form-inline" form action="/recipes/<%= @recipe.id() %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger">Delete this Recipe</button>
</form>
</div>
