<div class="container">
 <h1><%= @tag.category %></h1>

<h2>All recipes matching <%= @tag.category %>:</h2>

<ul>
  <% @tag.recipes.each do |recipe| %>
   <li><a href="/recipes/<%= recipe.id %>"><%= recipe.recipe_name %></a></li>
  <% end %>
</ul>

<br>

<form class="form-inline" form action="/tags/<%= @tag.id() %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger">Delete this Tag</button>
</form>

<br>
<form class="form-inline" action="/tags/<%= @tag.id %>/update" method="post">
  <input type="hidden" value="patch" name="_method">
  <input type="text" class="form-control" id="category" name="category">
  <button type="submit" class="btn btn-default">Update Tag</button>
</form>

<br>
<a href="/">HOME</a>
</div>
